.input-wrapper {
  display: flex;
  margin-bottom: 13px;
}

.input-wrapper label {
  margin-right: 15px;
}

.input {
  background: transparent;
  border: none;
  border-bottom: 2px solid black;
  width: 100%;
}