.header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-container img {
  width: 30%;
}

.header-container .header-text {
  margin-top: -60px;
  text-align: center;
}

.header-container .header-text h1 {
  color: #21565A;
}

.header-container .header-text p {
  margin-top: -10px;
  font-weight: 600;
  color: #D2E161;
  font-style: italic;
}

@media (max-width: 740px) {
  .header-container {
    margin-bottom: 50px;

  }
}