
  .container { 
    max-width: 1140px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-bottom: 100px;
    position: relative;
    margin-right: auto;
    margin-left: auto;
   }
   
   #root {
    margin-right: auto;
    margin-left: auto;
   }